p {
	margin-top: 10px;

}
#nav a{

  width: 18%;
  margin-right: 3px;
  margin-left: 3px;

}

.home #home, .resume #resume, .contacts #contacts, .practices #practices {
	    background: limegreen;
}
footer a {
	text-decoration: none;
}
.no-margin {
	margin: 0px;
}
#nav {
	position: sticky-top;

html,body,h1,h2,h3,h4,h5,h6 {
	font-family: "Roboto", sans-serif
}
nav  {
  /* If you want the text to be centered */
}
